xsd/PFL_basis_2.2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gkv-datenaustausch.de/XMLSchema/PFL_basis/2.2" targetNamespace="http://www.gkv-datenaustausch.de/XMLSchema/PFL_basis/2.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2.0">
	<!--=====     Typdefinition   ======= -->
	<xs:complexType name="Header_Ctp">
		<xs:annotation>
			<xs:documentation>Header Pflege-DA</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Absender">
				<xs:annotation>
					<xs:documentation>Enthält die Angaben zum Absender </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="KIM_Mailadresse" type="KIM_Adresse_Stp">
							<xs:annotation>
								<xs:documentation>KIM-Mailadresse des Absenders</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Institutionskennzeichen" type="Institutionskennzeichen_Stp">
							<xs:annotation>
								<xs:documentation>Institutionskennzeichen des Absenders</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Empfaenger">
				<xs:annotation>
					<xs:documentation>Enthält die Angaben zum Empfänger</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Institutionskennzeichen" type="Institutionskennzeichen_Stp" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Institutionskennzeichen des Empfängers der Nachricht. Darf fehlen bei einer Fehlernachricht wegen eines Signatur- oder Entschlüsselungsfehlers.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Erstellungsdatum" type="Datum_Stp">
				<xs:annotation>
					<xs:documentation>Datum der Erstellung der Nutzdatendatei</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Erstellungszeit" type="Zeitpunkt_Stp">
				<xs:annotation>
					<xs:documentation>Uhrzeit der Erstellung der Nutzdatendatei</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Datei_ID" type="Datei_ID_Stp">
				<xs:annotation>
					<xs:documentation>Eindeutige Datei-ID in Form einer UUID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Verfahrenskennung" type="Verfahrenskennzeichen_Stp">
				<xs:annotation>
					<xs:documentation>Verfahrenskennzeichen „TPFL0“ für Testdaten oder „EPFL0“ für Echtdaten</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nachrichtentyp" type="Nachrichtentyp_Stp">
				<xs:annotation>
					<xs:documentation>Kennung des Nachrichtentyps ("ABR" oder "FEH")</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Logische_Version" type="Logische_Version_Stp">
				<xs:annotation>
					<xs:documentation>Logische Version des Verfahrens gemäß Schlüsselverzeichnis</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Anzahl_Dezimal_Stp">
		<xs:annotation>
			<xs:documentation>Angabe einer Anzahl zwischen "0" und "9999.99"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999.99"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Anzahl_Max99_Stp">
		<xs:annotation>
			<xs:documentation>Angabe einer Anzahl zwischen "1" und "99"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Anzahl_MinutenTag_Stp">
		<xs:annotation>
			<xs:documentation>Angabe einer Anzahl zwischen "1" und "1440", da ein Tag 1440 Minuten umfasst.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="1440"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Abrechnungsmonat_Stp">
		<xs:annotation>
			<xs:documentation>Angabe eines Abrechnungsmonats im Format JJJJMM; mindestens "200001"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="2\d{3}(0[1-9]|1[0-2])"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Art_Unterschrift_Stp">
		<xs:annotation>
			<xs:documentation>Kennzeichen zur Art der Unterschrift</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="[1-5]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Beschaeftigtennummer_Stp">
		<xs:annotation>
			<xs:documentation>Beschaeftigtennummer einer Person, 9stellig, numerisch</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Datei_ID_Stp">
		<xs:annotation>
			<xs:documentation>Datei-ID in Form einer UUID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Dateityp_Stp">
		<xs:annotation>
			<xs:documentation>Kennzeichen Dateityp</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="[1-5]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Datum_Stp">
		<xs:annotation>
			<xs:documentation>Datum im Format JJJJMMTT; Werte von "19000101" bis "29991231" möglich</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
			<xs:pattern value="((19|2[0-9])\d{2})(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="DatumUhrzeit_Stp">
		<xs:annotation>
			<xs:documentation>Datum und Zeitpunkt im Format JJJJMMTThhmmss; Werte von "19000101000101" bis "29991231235959" möglich</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="14"/>
			<xs:pattern value="((19|2[0-9])\d{2})(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])((0[0-9])|(1[0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Fehlercode_Stp">
		<xs:annotation>
			<xs:documentation>Fehlercode zur Fehlernachricht</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
			<xs:enumeration value="01000"/>
			<xs:enumeration value="01001"/>
			<xs:enumeration value="01004"/>
			<xs:enumeration value="01007"/>
			<xs:enumeration value="01008"/>
			<xs:enumeration value="01009"/>
			<xs:enumeration value="01201"/>
			<xs:enumeration value="01202"/>
			<xs:enumeration value="01203"/>
			<xs:enumeration value="01204"/>
			<xs:enumeration value="01307"/>
			<xs:enumeration value="01309"/>
			<xs:enumeration value="01310"/>
			<xs:enumeration value="01311"/>
			<xs:enumeration value="01313"/>
			<xs:enumeration value="01314"/>
			<xs:enumeration value="01315"/>
			<xs:enumeration value="01316"/>
			<xs:enumeration value="01317"/>
			<xs:enumeration value="01318"/>
			<xs:enumeration value="02001"/>
			<xs:enumeration value="02002"/>
			<xs:enumeration value="02003"/>
			<xs:enumeration value="02004"/>
			<xs:enumeration value="02005"/>
			<xs:enumeration value="02006"/>
			<xs:enumeration value="02007"/>
			<xs:enumeration value="02008"/>
			<xs:enumeration value="02009"/>
			<xs:enumeration value="02010"/>
			<xs:enumeration value="02011"/>
			<xs:enumeration value="03002"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Freitext_Stp">
		<xs:annotation>
			<xs:documentation>Freitext ohne Zeilenumbrüche, 600 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="600"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Freitext_kurz_Stp">
		<xs:annotation>
			<xs:documentation>kurzer Freitext ohne Zeilenumbrüche, 150 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Grund_fehlende_Unterschrift_Stp">
		<xs:annotation>
			<xs:documentation>Kennzeichen für den Grund des fehlens der Unterschrift des Versicherten</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="[1-4]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Inhaltstyp_Stp">
		<xs:annotation>
			<xs:documentation>Kennzeichen zum fachlichen Inhalts eines angefügten Dokumentes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="[1-2]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Institutionskennzeichen_Stp">
		<xs:annotation>
			<xs:documentation>Institutionskennzeichen der Pflegekasse oder eines Pflegedienstes, 9-stellig</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Jahreszahl_Stp">
		<xs:annotation>
			<xs:documentation>Angabe einesr Jahreszahl im Format JJJJ; mindestens "1900"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="(19|2[0-9])\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="KIM_Adresse_Stp">
		<xs:annotation>
			<xs:documentation>KIM Mailadresse</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="254"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="KVNR_LAK_Stp">
		<xs:annotation>
			<xs:documentation>Krankenversichertenummer von der eGK des Versicherten, 10stellig, beginnend mit einem Großbuchstaben, danach neun Ziffern oder eine LAK-Mitgliedsnummer bestehend aus 12 Ziffern</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="([A-Z][0-9]{9})|\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Leistungsnachweis_ID_Stp">
		<xs:annotation>
			<xs:documentation>Leistungsnachweis-ID in Form einer UUID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Leistungsziffer_Stp">
		<xs:annotation>
			<xs:documentation>Leistungsziffer einer Einzelleistung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="6"/>
			<xs:maxLength value="15"/>
			<xs:pattern value="[01,07,10]{2}[01,02,06,07,99]{2}[0-8]{1}[0-9a-zA-Z]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Logische_Version_Stp">
		<xs:annotation>
			<xs:documentation>Logische Version laut Schlüsselverzeichnis 3.4</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[1-9][0-9]{0,2}\.(0|[1-9][0-9]{0,2})\.(0|[1-9][0-9]{0,2})"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Mailadresse_Stp">
		<xs:annotation>
			<xs:documentation>E-Mail-Adresse, bis zu 100 Zeichen</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
			<xs:whiteSpace value="collapse"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="MessageID_Stp">
		<xs:annotation>
			<xs:documentation>MessageID einer KIM-Nachricht</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="998"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Nachrichtentyp_Stp">
		<xs:annotation>
			<xs:documentation>Nachrichtentypkennung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:enumeration value="ABR"/>
			<xs:enumeration value="FEH"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Name_Stp">
		<xs:annotation>
			<xs:documentation>Vor- oder Nachnamen einer Person oder Name einer Institution. Der Name muss mindestens 1 Zeichen enthalten </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="collapse"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="PRODMOD_ID_Stp">
		<xs:annotation>
			<xs:documentation>PRODMOD-ID gem. Anhang 4 zur Technischen Anlage 1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Verfahrenskennzeichen_Stp">
		<xs:annotation>
			<xs:documentation>Verfahrenskennzeichen (Transportweg)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
			<xs:enumeration value="EPFL0"/>
			<xs:enumeration value="TPFL0"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Zeitpunkt_Stp">
		<xs:annotation>
			<xs:documentation>Zeitpunkt im Format hhmmss</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="((0[0-9])|(1[0-9])|(2[0-3]))[0-5][0-9][0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<!--=====     Typdefinition   ======= -->
	<xs:simpleType name="Uhrzeit_Stp">
		<xs:annotation>
			<xs:documentation>Uhrzeit im Format hhmm</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="((0[0-9])|(1[0-9])|(2[0-3]))[0-5][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>