xsd/PFL_ABR_2.2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- bearbeitet mit XMLSpy v2023 rel. 2 (x64) (http://www.altova.com) von GKV-Spitzenverband (GKV-Spitzenverband) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:abr="http://www.gkv-datenaustausch.de/XMLSchema/PFL_ABR/2.2" xmlns:bas="http://www.gkv-datenaustausch.de/XMLSchema/PFL_basis/2.2" targetNamespace="http://www.gkv-datenaustausch.de/XMLSchema/PFL_ABR/2.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2.0">
	<xs:import namespace="http://www.gkv-datenaustausch.de/XMLSchema/PFL_basis/2.2" schemaLocation="PFL_basis_2.2.0.xsd"/>
	<xs:complexType name="Abr_Ctp">
		<xs:annotation>
			<xs:documentation>Abrechnungsnachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Abrechnungsdaten" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>Signierte EDIFACT Abrechnungsdaten als PKCS#7-Datei, base64-codiert</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Abrechnungsbegruendende_Unterlagen">
				<xs:annotation>
					<xs:documentation>Enthält alle abrechnungsbgeründenden Unterlagen zu den Abrechnungsdaten</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Abrechnungsbegruendende_Unterlage" maxOccurs="999">
							<xs:annotation>
								<xs:documentation>Feldgruppe</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Leistungsnachweis_ID" type="bas:Leistungsnachweis_ID_Stp">
										<xs:annotation>
											<xs:documentation>Leistungsnachweis-ID der abrechnungsbegründenden Unterlage im Element "Datei" (UUID)</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Erstelldatum_Leistungsnachweis" type="bas:Datum_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Tag, an dem der Leistungsnachweis erstellt wurde. Fehlt, wenn Inhaltstyp = 2.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PRODMOD_ID" type="bas:PRODMOD_ID_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>PRODMOD-ID gem. Anhang 4 zur Technischen Anlage 1. Fehlt, wenn Inhaltstyp = 2.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Datei" type="xs:base64Binary">
										<xs:annotation>
											<xs:documentation>Enthält eine signierte, abrechnungsbgründende Unterlage in Form einer PKCS#7-Datei base64 codiert</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Inhaltstyp" type="bas:Inhaltstyp_Stp">
										<xs:annotation>
											<xs:documentation>Kennzeichen für den Inhalt der Datei gemäß Schlüsselverzeichnis 3.5</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Dateityp" type="bas:Dateityp_Stp">
										<xs:annotation>
											<xs:documentation>MIME-Type der Datei gemäß Schlüsselverzeichnis 3.6. Wenn Inhaltstyp = 1, dann Dateityp = 1; wenn Inhaltstyp = 2, dann Dateityp = 2</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>