xsd/PFL_FEH_2.2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- bearbeitet mit XMLSpy v2025 (x64) (https://www.altova.com) von GKV-Spitzenverband (GKV-Spitzenverband) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.gkv-datenaustausch.de/XMLSchema/PFL_FEH/2.2" xmlns:bas="http://www.gkv-datenaustausch.de/XMLSchema/PFL_basis/2.2" targetNamespace="http://www.gkv-datenaustausch.de/XMLSchema/PFL_FEH/2.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.2.0">
	<xs:import namespace="http://www.gkv-datenaustausch.de/XMLSchema/PFL_basis/2.2" schemaLocation="PFL_basis_2.2.0.xsd"/>
	<xs:complexType name="Feh_Ctp">
		<xs:annotation>
			<xs:documentation>Fehlernachricht</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Datei_ID" type="bas:Datei_ID_Stp" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Eindeutige Datei-ID der fehlerhaften Datenlieferung, auf die sich die Fehlernachricht bezieht.
Kann fehlen, wenn die Entschlüsselung oder die Signaturprüfung der Nutzdatendatei fehlgeschlagen ist
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Message_ID" type="bas:MessageID_Stp">
				<xs:annotation>
					<xs:documentation>Message-ID der KIM-Nachricht auf die sich die Fehlernachricht bezieht bzw. Message-ID der KIM-Nachricht mit der der fehlerhafte Datensatz übermittelt wurde, auf den sich die Fehlernachricht bezieht</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Fehler">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fehlerinformation" maxOccurs="99">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Fehlercode" type="bas:Fehlercode_Stp">
										<xs:annotation>
											<xs:documentation>Fehlercode gemäß Schlüsselverzeichnis 3.1</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Fehlertext" type="bas:Freitext_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Fehlertext, ggf. Fehlermeldung des XML-Parsers</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="XPath" type="bas:Freitext_Stp" minOccurs="0">
										<xs:annotation>
											<xs:documentation>XPath-Ausdruck der das fehlerhafte Element identifiziert</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>